<div class="example-container">
    <mat-toolbar class="example-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
            @if (!sidenav.opened) {
                <mat-icon>menu</mat-icon>
            }@else {
                <mat-icon>close</mat-icon>
            }            
        </button>

        <span>MEDIAPP</span>

        <span class="example-spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>account_box</mat-icon>
                <span>My account</span>
            </button>
            <button mat-menu-item (click)="sidenav.opened = false" (click)="logout()" >
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 250px" mode="push">

            <img src="mitocode.png" width="128" style="margin-left: 20px">   

          <!--   @for (m of menus; track $index) {

                <mat-divider></mat-divider>
                <button class="myButton"  [routerLinkActive]="['active']"  mat-menu-item (click)="sidenav.toggle()"
                    routerLink="{{m.url}}" style="cursor: pointer">
                    <mat-icon>{{m.icon}}</mat-icon>
                    <span>{{m.name}}</span>
                </button>
            }         -->

            <mat-divider></mat-divider>
            <button class="myButton"  [routerLinkActive]="['active']"  mat-menu-item (click)="sidenav.toggle()"
                routerLink="/pages/room" style="cursor: pointer">
                <mat-icon>search</mat-icon>
                <span>Rooms</span>
            </button>
            <mat-divider></mat-divider>
            <button class="myButton"  [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                routerLink="/pages/reservation" style="cursor: pointer">
                <mat-icon>view_carousel</mat-icon>
                <span>Reservations</span>
            </button>
            
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet />
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>