<p>room-manager works!</p>
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        
      <ng-container matColumnDef="idRoom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.idRoom}} </td>
      </ng-container>
        
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número </th>
        <td mat-cell *matCellDef="let row"> {{row.number}} </td>
      </ng-container>
        
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
        <td mat-cell *matCellDef="let row"> {{row.type}} </td>
      </ng-container>


      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
        <td mat-cell *matCellDef="let row"> {{row.price}} </td>
      </ng-container>

      
      <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Disponibilidad </th>
        <td mat-cell *matCellDef="let row"> {{row.available}} </td>
      </ng-container>
        
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef > Actions </th>
        <td mat-cell *matCellDef="let row" >
            <button mat-button (click)="openDialog(row)">
                <mat-icon>mode_edit</mat-icon>
            </button>    

            <button mat-button color="warn" (click)="delete(row.idRoom)" >
                <mat-icon>delete</mat-icon>
            </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
        
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of rooms"></mat-paginator>

  </div>

  <button mat-fab style="float: right;" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>